@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#121212;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    background: linear-gradient(#121212,#404040);
    user-select: none;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    img{
        margin-top: 5px;
        padding: 10px;
        width: 14vw;
        height: auto;
        position: relative;
        filter: none;
        
    }
    

    .nav-links{
        display: flex;
        flex-direction: column;
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        color: whitesmoke;
        list-style: none;
        z-index: 2;
        opacity: 0;
        transition: 0.5s;
        transition-delay: 0s;
        li{
            margin: 5px;
            padding: 10px;
            a{
                color: whitesmoke;
                font-size: 3em;
                text-decoration: none;
                &:hover{
                    color: white;
                    font-weight: bold;
                }
            }
        }
        &.active{
            visibility: visible;
            opacity: 1;
            transition-delay: 1s;
        }
    }
}
.toggle{
    z-index: 3;
    margin: 10px 3vw;
    position: relative;
    height: 30px;
    width: 30px;
    background: url(Hamburger_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    border: none;
    outline: none;
    
}
.toggle.active{
    background: url(Close_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
}
.banner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
    .contenido{
        position: relative;
        margin-left: 100px;
        width: 40%;
    }
    .imgBox{
        position: relative;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .swiper-container{
            width: 80%;
            height: auto;
        }
        img{
            width:100%;
            border: black 5px solid;
            border-radius: 1%;
        }
        .swiper-pagination-bullet{
            background-color:white;
        }
        .swiper-pagination-bullet-active {
            background-color: white;
          }
        
    }
    &::after{
        z-index: -1;
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 180px;
        height: 180px;
        border-bottom-left-radius: 100%;
        border-top: 0;
        border-right: 0;
        background-color: pink;
        transition: all 0.5s ease-in-out;
    }
    &.active .contenido{
        transform: scale(0,0);
    }
    &.active .imgBox{
        transform: scale(0,0);
    }
    &.active .contactSection{
        transform: scale(0,0);
    }
    &.active::after{
        z-index: 1;
        width: 100vw;
        height: 100vh;
        border-bottom-left-radius:0%;
        background-color: #121212;
    }
}
.contactSection{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 50px 100px;
    font-size: 1.5em;
    ul{
        list-style: none;
        display: flex;
        li{
            height: 1.5em;
            width: 1.5em;
            margin: 10px;
            background-color: #121212;
            border-radius: 20%;
            transition: all 0.3s ease-in-out;
            a{
                display: block;
                transform: translate(2px,-2px);
                color: #565656;
                width: 100%;
                height: 100%;
                padding:10px;
                text-decoration: none;
                
            }
            &:hover{
                background-color: pink;
                font-weight: bold;
                transform: translate(0,-10px);
                a{
                    color: white;
                }
            }
        }
        
    }
    
}
@media (max-width: 999px){
    body{
        font-size: 18px;
    }
    .toggle{
        margin: 10px 5vw;
    }
    header{
        height: 80px;
        position: absolute;
        img{
            width:30vw;
            height: auto;
        }
        
    }
    .banner{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 0;
        .contenido{
            margin:60px 10px;
            margin-top: 200px;
            width: 80%;
        }
        .imgBox{
            width: 100%;

            .swiper-container{
                width: 60vw;
                height: auto;
            }
            
        }
        
    }
    .banner::after{
        width: 150px;
        height: 150px;
    }
    .contactSection{
        margin: 50px 60px;
        font-size: 2em;
    }
}
@media (max-width:600px){
    body{
        font-size: 14px;
    }
    .banner{
        
        .imgBox{
            .swiper-container{
                width: 90vw;
                height: auto;
            }
        }
    }
    .banner::after{
        width: 100px;
        height: 100px;
    }
    .contactSection{
        position: relative;
        margin: 50px 30px;
    }
}